<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUrvB52T9MigHlzMjThdSUUNZMfQpe9p0</string>
	<key>GCM_SENDER_ID</key>
	<string>566421081596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.green2</string>
	<key>PROJECT_ID</key>
	<string>green2-ac285</string>
	<key>STORAGE_BUCKET</key>
	<string>green2-ac285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566421081596:ios:e1fe675fd7153838697679</string>
	<key>DATABASE_URL</key>
	<string>https://green2-ac285-default-rtdb.firebaseio.com</string>
</dict>
</plist>